{% extends "base.html" %}
{% load i18n %}
{% block head_title %}Signup{% endblock %}
{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form id="signup_form" method="post" action="{% url 'account_signup' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <h2 class="text-center mb-4">Sign Up</h2>

        <p class="text-center">Already have an account? Then please <a href="{{ login_url }}">log-in</a>.</p>

        {% if form.non_field_errors %}
        <div class="text-center text-danger">{{ form.non_field_errors }}</div>
        {% endif %}

        <div class="form-group mb-3">
          <div class="input-group justify-content-center">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
            </div>
            {{ form.username }}
          </div>
          {% if form.username.errors %}
          <div class="text-center text-danger">{{ form.username.errors }}</div>
          {% endif %}
        </div>

        <div class="form-group mb-3">
          <div class="input-group justify-content-center">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-at fa-fw" aria-hidden="true"></i></span>
            </div>
            {{ form.email }}
          </div>
          {% if form.email.errors %}
          <div class="text-center text-danger">{{ form.email.errors }}</div>
          {% endif %}
        </div>

        <div class="form-group mb-3">
          <div class="input-group justify-content-center">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
            </div>
            {{ form.password1 }}
          </div>
          {% if form.password1.errors %}
          <div class="text-center text-danger">{{ form.password1.errors }}</div>
          {% endif %}
        </div>

        <div class="form-group mb-3">
          <div class="input-group justify-content-center">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
            </div>
            {{ form.password2 }}
          </div>
          {% if form.password2.errors %}
          <div class="text-center text-danger">{{ form.password2.errors }}</div>
          {% endif %}
        </div>

        <div class="text-center mt-4">
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
