{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card main-div-shadow mt-3">
        <div class="card-body">
          <h1 class="text-center mb-4">{% trans "Sign Up Closed" %}</h1>
          <p class="text-center">{% trans "We are sorry, but the sign up is currently closed." %}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
