{% extends "base.html" %}
{% load static %}

{% block meta_tags %}
    <meta name="description" content="Review and manage the items in your cart. Adjust quantities, apply discount codes, and proceed to checkout.">
    <meta name="robots" content="noindex, nofollow">
{% endblock %}


{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container p-5">
  <div class="row">
    <div class="col-lg-8">
      <h4 class="mb-3 text-center">My Cart</h4>
      {% for item in cart_items %}
        <div class="row align-items-center border-bottom pb-2 mb-3 cart-item">
          <div class="col-12 col-sm-2 d-flex justify-content-center mb-2 mb-sm-0">
            <img src="{{ item.product.image.url }}" alt="{{ item.product.product_name }}" class="img-thumbnail" style="width: 70px;">
          </div>
          <div class="col-12 col-sm-4 d-flex justify-content-center flex-column text-center text-sm-left mb-2 mb-sm-0">
            <h5 class="mb-0">{{ item.product.product_name }}</h5>
            <p class="mb-0">Price per unit: {{ item.product.price|floatformat:2 }}</p>
          </div>
          <div class="col-12 col-sm-4 d-flex flex-column align-items-center mb-2 mb-sm-0">
            <form action="{% url 'cart:adjust_cart' item.product.product_id %}" method="post">
              {% csrf_token %}
              <label for="quantity{{ item.product.product_id }}" class="form-label">Quantity:</label>
              <div class="d-flex align-items-center">
                <input type="number" id="quantity{{ item.product.product_id }}" name="quantity" min="1" max="99" value="{{ item.quantity }}" class="form-control small-input">
                <button class="btn btn-primary mx-2">
                  <i class="bi bi-arrow-repeat"></i>
                </button>
              </div>
            </form>
          </div>
          <div class="col-12 col-sm-2 d-flex justify-content-center">
            <form action="{% url 'cart:remove_from_cart' item.product.product_id %}" method="post">
              {% csrf_token %}
              <button class="btn btn-danger">
                <i class="bi bi-trash-fill"></i>
              </button>
            </form>
          </div>
        </div>
      {% empty %}
        <p class="text-center">Your cart is empty</p>
      {% endfor %}
    </div>
    <div class="col-lg-4 d-flex align-items-center justify-content-center">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Subtotal: ${{ total|floatformat:2 }}</h5>
          {% if discount_amount %}
            <p class="card-text">Discount: -${{ discount_amount|floatformat:2 }}</p>
          {% endif %}
          <p class="card-text">Shipping: Calculated at checkout</p>
          <h5 class="card-title">Total: ${{ grand_total|floatformat:2 }}</h5>

          <!-- Discount Code Form -->
          <form action="{% url 'cart:apply_discount' %}" method="post" class="mt-3">
            {% csrf_token %}
            <div class="input-group">
              <input type="text" name="discount_code" class="form-control" placeholder="Discount Code" required>
              <button class="btn btn-primary" type="submit">Apply</button>
            </div>
            {% if applied_discount_code %}
              <p class="text-success mt-2">Applied discount code: {{ applied_discount_code }}</p>
            {% endif %}
          </form>

          <a href="{% url 'checkout' %}" class="btn btn-primary mt-3">Continue to Checkout</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/product-filter.js' %}"></script>

{% endblock %}
