{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="products-main p-5">
  <div class="container">
   <p>My Cart</p>

   {% for item in cart_items %}
       <div class="cart-item">
           <p>Product: {{ item.product.product_name }}</p>
           <p>Quantity: {{ item.quantity }}</p>
           <p>Price: {{ item.product.price }}</p>
       </div>
   {% empty %}
       <p>Your cart is empty</p>
   {% endfor %}

   <p>Total: {{ total }}</p>
   <p>Delivery: {{ delivery }}</p>
   <p>Grand Total: {{ grand_total }}</p>

  </div>
</div>

<script src="{% static 'js/product-filter.js' %}"></script>

{% endblock %}