{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="homepage-main">        
        <div class="hero-image d-flex align-items-center justify-content-center flex-column">
            <h2 class="text-center mb-1 custom-h2">The only modular electric scooter</h2>
            <div class="d-flex flex-column flex-md-row"> <!-- Use flex-column on mobile and flex-row on tablet and above -->
                <!-- Build your E-scooter button -->
                <a href="{% url 'products:escooter_builder' %}" class="btn btn-primary btn-lg shop-now-btn m-3">Build your E-scooter</a>
                <!-- Shop all parts button -->
                <a href="{% url 'products:all_products' %}" class="btn btn-primary btn-lg shop-now-btn m-3">Shop all parts</a>
            </div>
        </div>
        
        <div class="about-product"></div>

        <div class="container mt-4 text-center">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card custom-card h-100">
                        <div class="card-body d-flex flex-column">
                            <span class="bi bi-gear-wide-connected h3 mb-3"></span>
                            <h2 class="card-title">Customizable</h2>
                            <p class="card-text">Build your ideal E-scooter!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card custom-card h-100">
                        <div class="card-body d-flex flex-column">
                            <span class="bi bi-tools h3 mb-3"></span>
                            <h2 class="card-title">Repairable</h2>
                            <p class="card-text">Needs repair? Buy only the parts you need!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card custom-card h-100">
                        <div class="card-body d-flex flex-column">
                            <span class="bi bi-currency-dollar h3 mb-3"></span>
                            <h2 class="card-title">Affordable</h2>
                            <p class="card-text">Make it as fancy or as budget-friendly as you want.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        
{% endblock %}
