{% extends "base.html" %}
{% load static %}

{% block meta_tags %}
    <meta name="description" content="Thank you for your order! View your order details and delivery information here. A confirmation email has been sent to you.">
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block page_header %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Thank You!</h1>
            <p class="lead text-center">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="card p-3 rounded shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Order Info</h5>
                    <ul class="list-group list-group-flush mb-3">
                        <li class="list-group-item d-flex justify-content-between align-items-center mb-1 rounded bg-warning">
                            <span class="font-weight-bold text-dark">Order Number</span>
                            <span class="text-right text-success fw-bold text-break" style="max-width: 150px;">{{ order.order_number }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center mb-1 rounded">
                            <span class="font-weight-bold text-dark">Order Date</span>
                            <span class="text-right text-success fw-bold">{{ order.date }}</span>
                        </li>
                    </ul>

                    <h5 class="card-title">Order Details</h5>
                    <ul class="list-group list-group-flush mb-3">
                        {% for item in order.lineitems.all %}
                        <li class="list-group-item d-flex justify-content-between align-items-center mb-1 rounded">
                            {% if item.product.product_name and item.product.price %}
                            <span>{{ item.quantity }}x {{ item.product.product_name }}</span>
                            <span class="text-right text-success fw-bold"> for ${{ item.product.price }} each</span>
                            {% else %}
                            <span>{{ item.quantity }}x Product deleted from store</span>
                            <span class="text-right text-success fw-bold">Please find original details in your email</span>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    <h5 class="card-title">Delivering To</h5>
                    <ul class="list-group list-group-flush mb-3">
                        <li class="list-group-item d-flex justify-content-between align-items-center mb-1 rounded">
                            <span class="font-weight-bold text-dark">Full Name</span>
                            <span class="text-right text-success fw-bold">{{ order.full_name }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center mb-1 rounded">
                            <span class="font-weight-bold text-dark">Address 1</span>
                            <span class="text-right text-success fw-bold">{{ order.street_address1 }}</span>
                        </li>
                        {% if order.street_address2 %}
                        <li class="list-group-item d-flex justify-content-between align-items-center mb-1 rounded">
                            <span class="font-weight-bold text-dark">Address 2</span>
                            <span class="text-right text-success fw-bold">{{ order.street_address2 }}</span>
                        </li>
                        {% endif %}
                        {% if order.county %}
                        <li class="list-group-item d-flex justify-content-between align-items-center mb-1 rounded">
                            <span class="font-weight-bold text-dark">County</span>
                            <span class="text-right text-success fw-bold">{{ order.county }}</span>
                        </li>
                        {% endif %}
                        <li class="list-group-item d-flex justify-content-between align-items-center mb-1 rounded">
                            <span class="font-weight-bold text-dark">Town or City</span>
                            <span class="text-right text-success fw-bold">{{ order.town_or_city }}</span>
                        </li>
                        {% if order.postcode %}
                        <li class="list-group-item d-flex justify-content-between align-items-center mb-1 rounded">
                            <span class="font-weight-bold text-dark">Postal Code</span>
                            <span class="text-right text-success fw-bold">{{ order.postcode }}</span>
                        </li>
                        {% endif %}
                        <li class="list-group-item d-flex justify-content-between align-items-center mb-1 rounded">
                            <span class="font-weight-bold text-dark">Country</span>
                            <span class="text-right text-success fw-bold">{{ order.country }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center mb-1 rounded">
                            <span class="font-weight-bold text-dark">Phone Number</span>
                            <span class="text-right text-success fw-bold">{{ order.phone_number }}</span>
                        </li>
                    </ul>
                    <h5 class="card-title">Billing Info</h5>
                    <ul class="list-group list-group-flush mb-3">
                        <li class="list-group-item d-flex justify-content-between align-items-center mb-1 rounded">
                            <span class="font-weight-bold text-dark">Order Total</span>
                            <span class="text-right text-success fw-bold">${{ order.order_total }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center mb-1 rounded">
                            <span class="font-weight-bold text-dark">Delivery</span>
                            <span class="text-right text-success fw-bold">${{ order.delivery_cost }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center mb-1 rounded">
                            <span class="font-weight-bold text-dark">Discount</span>
                            <span class="text-right text-success fw-bold">- ${{ order.discount_amount }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center mb-1 rounded">
                            <span class="font-weight-bold text-dark">Grand Total</span>
                            <span class="text-right text-success fw-bold">${{ order.grand_total }}</span>
                        </li>
                    </ul>
                    <div class="text-right text-success fw-bold">
                        {% if from_profile %}
                        <a href="{% url 'profile' %}" class="btn btn-secondary rounded">
                            <i class="fas fa-angle-left mr-2"></i>Back to Profile
                        </a>
                        {% else %}
                        <a href="{% url 'products:all_products' %}" class="btn btn-secondary rounded">
                            <i class="fas fa-gifts mr-2"></i>Now check out the latest deals!
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
