{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Add a Product
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            <h1>Product Management</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container p-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1 class="text-center mb-4">Add a Product</h1>
                    <form method="POST" action="{% url 'products:add_product' %}" class="m-5" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.product_name|as_crispy_field }}
                        </div>
                        <div class="mb-3">
                            {{ form.description|as_crispy_field }}
                        </div>
                        <div class="mb-3">
                            {{ form.price|as_crispy_field }}
                        </div>
                        <div class="mb-3">
                            {{ form.stock_quantity|as_crispy_field }}
                        </div>
                        <div class="mb-3">
                            {{ form.image|as_crispy_field }}
                        </div>
                        <div class="mb-3">
                            {{ form.status|as_crispy_field }}
                        </div>
                        <div class="mb-3">
                            {{ form.product_category|as_crispy_field }}
                        </div>
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-danger m-2" href="{% url 'products:all_products' %}">Cancel</a>
                            <button class="btn btn-primary m-2" type="submit">Add Product</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
