{% extends "base.html" %}
{% load static %}

{% block meta_tags %}
    <meta name="description" content="Browse our extensive collection of modular electric scooter parts and accessories. Sort by price, category, and find the perfect components to build or repair your ideal e-scooter.">
    <meta name="keywords" content="electric scooter parts, modular scooter components, affordable e-scooter accessories, build your own scooter, scooter repair parts, e-scooter customization, sustainable mobility, green transportation">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Your Company Name">
    <meta property="og:title" content="Shop All Electric Scooter Parts and Accessories">
    <meta property="og:description" content="Browse our extensive collection of modular electric scooter parts and accessories. Sort by price, category, and find the perfect components to build or repair your ideal e-scooter.">
    <meta property="og:image" content="{% static 'images/all-products-hero.jpg' %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Shop All Electric Scooter Parts and Accessories">
    <meta name="twitter:description" content="Browse our extensive collection of modular electric scooter parts and accessories. Sort by price, category, and find the perfect components to build or repair your ideal e-scooter.">
    <meta name="twitter:image" content="{% static 'images/all-products-hero.jpg' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="products-main p-5">
  <div class="container">
    <!-- Sorting and Filtering Form -->
    <form method="GET" class="mb-2 mb-sm-2 mb-md-4 mb-lg-5 mb-xl-5" id="filter_form">
      <div class="row justify-content-center text-center">
        <div class="col-md-3 col-12 mb-2 mb-sm-2 mb-md-3 mb-lg-3 mb-xl-3">
          <label for="sort_by" class="form-label">Sort By:</label>
          <select name="sort_by" id="sort_by" class="form-select">
            <option value="price_low_to_high" {% if request.GET.sort_by == 'price_low_to_high' %} selected {% endif %}>Price: Low to High</option>
            <option value="price_high_to_low" {% if request.GET.sort_by == 'price_high_to_low' %} selected {% endif %}>Price: High to Low</option>
          </select>
        </div>
        <div class="col-md-3 col-12 mb-2 mb-sm-2 mb-md-3 mb-lg-3 mb-xl-3">
          <label for="category" class="form-label">Category:</label>
          <select name="category" id="category" class="form-select">
            <option value="" {% if not request.GET.category %} selected {% endif %}>All</option>
            {% for category in categories %}
              <option value="{{ category }}" {% if request.GET.category == category %} selected {% endif %}>{{ category }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </form>

    <!-- Product Listing -->
    <div class="row" id="product_listing">
      {% if products %}
        {% for product in products %}
          <div class="col-md-3 mb-3">
            <div class="card products-card position-relative">
              <!-- Product Image -->
              <img
                src="{{ product.image.url }}"
                class="card-img-top"
                alt="{{ product.product_name }}"
              />

              <div class="card-body text-center">
                <!-- Product Name -->
                <h5 class="card-title">{{ product.product_name }}</h5>

                <!-- Price -->
                <p class="card-text">${{ product.price }}</p>

                <form method="post" action="{% url 'cart:add_to_cart' product.product_id %}">
                    {% csrf_token %}
                    <!-- Quantity Picker -->
                    <label for="quantity{{ product.product_id }}">Quantity:</label>
                    <input
                      type="number"
                      id="quantity{{ product.product_id }}"
                      name="quantity"
                      min="1"
                      max="99"
                      value="1"
                      class="form-control w-50 m-auto mb-2"
                    />
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    <button type="submit" class="btn btn-primary mb-2">Add to Cart</button>
                    {% if request.user.is_superuser %}
                      <a href="{% url 'products:edit_product' product.product_id %}" class="btn btn-warning mb-2">Edit</a>
                      <a href="{% url 'products:delete_product' product.product_id %}" class="btn btn-danger mb-2">Delete</a>
                    {% endif %}
                </form>

                <!-- Wishlist Button (fixed at top left) -->
                {% if product.product_id in wishlist_product_ids %}
                  <form method="post" action="{% url 'wishlist:remove_from_wishlist' product.product_id %}" class="position-absolute top-0 start-0 m-2">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary btn-custom-wishlist text-danger" title="Remove from Wishlist">
                      <span class="bi bi-heart-fill"></span>
                    </button>
                  </form>
                {% else %}
                  <form method="post" action="{% url 'wishlist:add_to_wishlist' product.product_id %}" class="position-absolute top-0 start-0 m-2">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary btn-custom-wishlist" title="Add to Wishlist">
                      <span class="bi bi-heart"></span>
                    </button>
                  </form>
                {% endif %}

                <!-- Info Icon Button (fixed at top right) -->
                <button
                  class="btn btn-info position-absolute top-0 end-0 m-2"
                  data-bs-toggle="modal"
                  data-bs-target="#productInfoModal"
                  data-product-name="{{ product.product_name }}"
                  data-product-description="{{ product.description }}"
                  data-product-price="{{ product.price }}"
                  data-product-stock-quantity="{{ product.stock_quantity }}"
                  data-product-status="{{ product.get_status_display }}"
                  data-product-category="{{ product.product_category }}"
                  data-product-image="{{ product.image.url }}"              
                  title="More Info"
                >
                  <span class="bi bi-info-circle"></span>
                </button>
              </div>
            </div>
          </div>      
        {% endfor %}
      {% else %}
        <div class="col-12 text-center">
          <p class="text-muted">No products found matching your search criteria. Please try different filters or search terms.</p>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="modal fade" id="productInfoModal" tabindex="-1" aria-labelledby="productInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content custom-modal-content">
      <div class="modal-header custom-modal-header">
        <h5 class="modal-title custom-modal-title" id="productInfoModalLabel"></h5>
        <button type="button" class="close text-white custom-close-button" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body custom-modal-body">
        <!-- Product information -->
        <div class="row">
          <div class="col-lg-5">
            <!-- Product image -->
            <img class="img-fluid rounded mb-4" id="productImage" src="" alt="Product image">
          </div>
          <div class="col-lg-7">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" id="productInfoModalLabel"></h5>
                <p class="card-text" id="productDescription"></p>
                <div class="d-flex flex-column">
                  <div class="p-2 custom-info-item"><strong>Price:</strong> <span id="productPrice"></span></div>
                  <div class="p-2 custom-info-item"><strong>Stock Quantity:</strong> <span id="productStockQuantity"></span></div>
                  <div class="p-2 custom-info-item"><strong>Status:</strong> <span id="productStatus"></span></div>
                  <div class="p-2 custom-info-item"><strong>Category:</strong> <span id="productCategory"></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn custom-bottom-close-button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/product-filter.js' %}"></script>
<script src="{% static 'js/product-more-details.js' %}"></script>
{% endblock %}
