{% extends "base.html" %}
{% load static %}

{% block title %}
    E-Scooter Builder
{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <!-- Image to the left -->
                <div class="builder-featured-image d-none d-md-block"></div>
            </div>
            <div class="col-md-6">
                <!-- Form to the right -->
                <h1 class="my text-center built-it-h1">Build it yourself</h1>
                <form method="post">
                    {% csrf_token %}
                    <!-- Accordion -->
                    <div class="accordion custom-accordion mt-3" id="accordion">
                        {% for category, products in category_list.items %}
                            <div class="accordion-item">
                                <!-- Accordion Header -->
                                <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                                    <button class="accordion-button collapsed d-flex justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                                        <div class="accordion-title-left">{{ category|capfirst }}</div>
                                        <span class="selected-items-qty m-2 small text-nowrap"></span>
                                    </button>
                                </h2>
                                <!-- Accordion Body -->
                                <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordion">
                                    <div class="accordion-body">
                                        <!-- List group -->
                                        <ul class="list-group">
                                            {% for product in products %}
                                                <li class="list-group-item toggle-checkbox mb-2 rounded custom-list-item">
                                                    <!-- List item -->
                                                    <div class="form-check d-flex justify-content-between align-items-center">
                                                        <input class="form-check-input mt-1 me-2" type="checkbox" name="selected_products" value="{{ product.id }}" id="product{{ product.id }}">
                                                        <!-- Product name -->
                                                        <strong><span class="pr-2">{{ product.product_name }}<span></strong>
                                                        <!-- Price -->
                                                        <span class="text-end flex-grow-1 accordion-product-price">+${{ product.price }}</span>
                                                        <button
                                                            class="btn btn-info ms-2"
                                                            data-toggle="tooltip"
                                                            data-placement="top"
                                                            title="More Info"
                                                        >
                                                        <span class="bi bi-info-circle bi-small"></span>
                                                        </button>                                                        
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Add to cart button -->
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-secondary mt-3 mr-2">Clear Selection</button>
                        <div class="spacer"></div>
                        <button type="submit" class="btn btn-primary mt-3 ml-2">Add to Cart</button>
                    </div>
                    <!-- Shipping Info -->
                    <div class="row mt-5">
                        <div class="col-md-4 w-100 text-center">
                            <span class="bi bi-truck me-2"></span> Free shipping on orders over 100 euros
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4 w-100 text-center">
                            <span class="bi bi-shield-check me-2"></span> 2 Years Warranty on each part
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4 w-100 text-center">
                            <span class="bi bi-clock me-2"></span> Shipping within 5 business days
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    {% if messages %}
        <div class="container mt-4">
            <ul class="list-group">
                {% for message in messages %}
                    <li class="list-group-item">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <script src="{% static 'js/builder_checkbox_toggle.js' %}"></script>

{% endblock %}
