/* ------------------------------------- Overrides */

.btn-primary, .btn-info {
    background-color: #1a6200 !important;
    border-color: #1a6200 !important;
    transition: opacity 0.4s ease-in;
    color: #f1f5f2;
    font-size: 14px;
}

.btn-primary:hover, .btn-info:hover{
    opacity: 0.98;
    color: #202020;
}

.btn-primary:active, .btn-info:active {
    opacity: 0.92;
    color: #f1f5f2 !important;
}

.card {
    background-color: #333738;
}

.custom-modal-content, 
.custom-modal-header,
.custom-modal-title,
.custom-close-button,
.custom-modal-body,
.custom-modal-footer {
    background-color: #333738;
}

.custom-bottom-close-button {
    background-color: #1a6200;
    color: #f1f5f2;
}

.custom-bottom-close-button:hover {
    opacity: 0.80;
    background-color: #1a6200 !important;
}


/* ------------------------------------- Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.toast {
    background-color: #F1F5F2 !important;
    color: #202020 !important;
    border: none !important
}

.toast-header {
    background-color: #1a6200 !important;
    color: #F1F5F2 !important;
    border-bottom: none !important;
}

.toast.show {
    opacity: 1;
}

.toast.hide {
    opacity: 0;
}

.toast.fade {
    transition: opacity 0.15s linear;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ------------------------------------- Body */

body {
    background-color: #202020;
    color: #F1F5F2;
}

/* ------------------------------------- Main */

main {
    min-height: 30vh;
}

/* ------------------------------------- Page Header */

.page-header {
    height: auto;
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-mobile {
    background-image: url("https://res.cloudinary.com/dls3mbdix/image/upload/v1710179473/escoot-logo_dfsscb.webp");
    width: 100%;
    height: 6vh;
    margin-top: 10px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain;
}

.logo-desktop {
    background-image: url("https://res.cloudinary.com/dls3mbdix/image/upload/v1710179473/escoot-logo_dfsscb.webp");
    width: 15%;
    height: 6vh;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain;
}

/* ------------------------------------- Navbar */

.navbar {
    background-color: #202020;
    z-index:999;
}

.navbar-mobile {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 0;
    border-bottom: #202020 2px solid;
    height: 80px;
}

.navbar-desktop {
    width: 100%;
    height: auto;
    padding: 0 !important;
}

.navbar-text {
    padding: 0;
}

.navbar-brand img {
    max-width: 100%;
    height: auto;
}

.offcanvas-custom {
    background-color: #333738 !important; /* Override the default Bootstrap color */
}

.navbar-toggler-icon {
    width: 1em;
}

.searchbar {
    width: 50%;
}

.navbar-expand-lg {
    justify-content: space-between !important; /* Override the default Bootstrap justify-content */
}

.navbar-nav {
    flex-direction: row; /* Override the default Bootstrap flex-direction */
    justify-content: space-evenly;
    width: 40%;
}

.navbar-nav .dropdown-menu {
      position: absolute;
      float: none;
}

.dropdown-menu {
    background-color: #333738;
    --bs-dropdown-link-hover-bg: #202020; /* Override the default Bootstrap hoover dropdown link */
}

.dropdown-item {
    color: #F1F5F2 !important;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-badge {
    color: white;
    background-color: #1A620C;
}

.cart-icon-full {
    color: #1A620C;
}

/* ------------------------------------- Homepage Main */

.homepage-main {
    min-height: 75vh;
}

.hero-image{
    background-image: url("https://res.cloudinary.com/dls3mbdix/image/upload/v1710345606/hero-image-opaque_wfsyhc.jpg");
    width: 100%;
    min-height: 40vh;
    max-height: 50vh;
    margin-top: 10px;
    background-position: bottom !important;
    background-repeat: no-repeat !important;
    background-size: cover;
}


.custom-card {
    background-color: #333738;
    border: 1px solid #495057;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-card:hover {
    background-color: #2b2e30;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.custom-h2 {
    color: #F1F5F2;
    text-align: center; 
    padding: 20px;
    border: 2px solid transparent; 
    border-radius: 10px;
    outline: 2px solid rgba(255, 255, 255, 0.5);
    outline-offset: -10px;
    -webkit-text-stroke: 0.7px black;
}
/* ------------------------------------- Products page  */

.products-main {
    background-color: #333738;
    width: 100%;
    min-height: 80vh;
}

.products-card {
    background-color: #f1f5f2;
    color: #202020
}

/* ------------------------------------- Escooter Builder page */

.builder-featured-image {
    height: 100%;
    background-image: url("https://res.cloudinary.com/dls3mbdix/image/upload/v1712146364/escooter-builder-featured-cropped_qble5i.webp");
    background-size: cover;
    background-position: center;
    min-height: 800px;
    max-height: 800px;
}

.accordion-title-left {
    flex: 1;
}

.custom-accordion {
    --bs-accordion-btn-color: #202020 !important;
    --bs-accordion-btn-bg: #F1F5F2 !important;
	--bs-accordion-active-color:;
	--bs-accordion-active-bg: #c1c2c1 !important;
    --bs-accordion-bg: #c1c2c1 !important;
    --bs-accordion-btn-focus-box-shadow: none;
}

.custom-list-item {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
.custom-list-item:hover,
.custom-list-item:focus {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.accordion-product-price {
    font-size: 14px !important;
}

.selected-items-qty {
    color: #1a6200 !important;
    font-weight: 600;
}

.spacer {
    min-width: 30px;
}

/* ------------------------------------- Cart */

.small-input {
    width: 80px;
  }

/* ------------------------------------- Checkout */
.checkout-container {
    background-color: #333738 !important;
}

.fieldset-label {
    color: #fff;
}

.form-check-label a {
    color: #0d6efd;
}

.btn-outline-secondary, .btn-primary {
    border-radius: 50px;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-primary:hover {
    background-color: #0a58ca;
}

.order-summary-scrollable {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}


/* ------------------------------------- Footer */

.footer {
    margin: 100px 0 20px 0;
}

.github-link {
    color: #1a6200;
}

/* ------------------------------------- 992px Media */

@media (min-width: 992px) {

  .navbar {
    padding: 20px 50px;
  }  

  .fixed-bottom-mobile {
    position: static;
  }

  .searchbar {
    width: 25%;
    margin: 10px 10% 0 0;
  }
}