{% load static %} {% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-scoot</title>
    <!-- Load Bootstrap: 5, CSS, and JavaScript from Bootstrap CDN. -->
    {% load django_bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}

    <!-- Load JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Load stylesheet CSS file -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!-- Load Bootstrap Icons CSS file -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <!-- Load fontawesome CSS -->
    <script
      src="https://kit.fontawesome.com/ab2b00d870.js"
      crossorigin="anonymous"
    ></script>

    <!-- Link Favicon -->
    <link
      rel="shortcut icon"
      type="image/ico"
      href="{% static 'img/favicon.ico' %}"
    />
  </head>

  <body>
    <header>
      <!-- Navbar -->

      <!-- Offcanvas Sidebar -->
      <div
        class="offcanvas offcanvas-start offcanvas-custom"
        tabindex="-1"
        id="sidebar"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title">Burger Menu</h5>
          <button
            type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <!-- Add your sidebar content here -->
          <p>Sidebar Content Goes Here</p>
        </div>
      </div>

      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-bottom">
          <div class="container-fluid">
            <!-- Burger Menu Button -->
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#sidebar"
              aria-controls="sidebar"
            >
              <span class="navbar-toggler-icon btn-sm"></span>
            </button>

            <!-- Search Bar -->
            <div class="w-50 mx-auto">
              <form class="input-group">
                <input
                  type="search"
                  class="form-control"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button class="btn btn-outline-secondary" type="submit">
                  <i class="bi bi-search"></i>
                </button>
              </form>
            </div>

            <!-- Icons on the Right -->
            <div class="d-flex">
              <!-- Account Icon -->
              <span class="navbar-text me-3">
                <i class="bi bi-person-square fs-2"></i>
              </span>

              <!-- Shopping Cart Icon -->
              <span class="navbar-text">
                <i class="bi bi-cart fs-2"></i>
              </span>
            </div>
          </div>
        </nav>
      </div>

      <section class="page-header">
        <div class="logo"><h1 class="d-none">E-scoot</h1></div>
        <p class="d-none">Build your ideal e-scooter.</p>
        <div class="hero-image"></div>
        {% if user.is_authenticated %}
        <div class="welcome-message">Welcome {{ user.name }}!</div>
        {% endif %}
      </section>
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted"
          >Copyright &copy; 2024
          <a href="https://github.com/luciotorelli/escoot"
            >Project Portfolio 5 - Github Lúcio Torelli</a
          ></span
        >
      </div>
    </footer>
  </body>
</html>
