<!-- contact/templates/contact/contact.html -->
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block meta_tags %}
    <meta name="description" content="Contact us for any inquiries or support related to our modular electric scooters. Enjoy fast replies and excellent customer service. Get in touch now!">
    <meta name="robots" content="index, follow">
{% endblock %}

{% block title %}
    Contact Us
{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col">
      <h1>Contact Us</h1>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container p-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1 class="text-center mb-4">Get in Touch</h1>
                    <form method="post" class="m-5">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.name|as_crispy_field }}
                        </div>
                        <div class="mb-3">
                            {{ form.email|as_crispy_field }}
                        </div>
                        {% if user.is_authenticated and form.order.field.queryset %}
                        <div class="mb-3">
                            {{ form.order|as_crispy_field }}
                        </div>
                        {% endif %}                        
                        <div class="mb-3">
                            {{ form.message|as_crispy_field }}
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
